<!doctype html>
<html>
<head>
    <title>TacoBell Ratings</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1></h1>

          <img src="img/index.jpeg" alt="start page">
        
        <div>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Create Account</a>
        </div>

    </div>

</div>
</body>
</html>