<!doctype html>
<html>
<head>
  <title>TacoBell Comments</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
  <link rel="stylesheet" href="../post.css">
</head>
<body id="bootstrap-overide">
    <div class="page-header text-center">
        <h4 class="header">Go To <a href="/profile">Profile</a></h3>
        <h4 class="header">Go To <a href="/feed">Feed</a></h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
        <section class="container">
        <ul class="messages list-group">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="list-group-item message">
            <h4 class="mb-1"><%= posts[i].caption %></h4>
            <img class="img" src="../<%= posts[i].img %>" alt="">
            <form action="/comment/<%= posts[i]._id %>" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;">Post Comment</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="That's my favorite item!" name="comment">
              </div>
                <input class="btn btn-primary" type="submit" value="Submit">
             
            </form>
            
          </li>
        <% } %>
        </ul>
     
        <h3 style="margin-bottom: 2%; font-family: 'Abril Fatface', cursive;">Comments</h3>
        <ul class="list-group">
         <%comments.forEach(comment => {%>
            <li class="list-group-item comments"><%=comment.comment%></li>
          <%})%>
        </section>


<script src="main.js"></script>
</body>
</html>
