img{
    height: 200px;
    width: 350px;
    margin-bottom:1%;
}

#bootstrap-overide .list-group-item{
    border: none;
}


#bootstrap-overide .btn-primary{
    display: inline-block;
    margin-bottom: -1%;
}

.container{
    text-align: center;
}

.list-group{
    margin-top: -1%
}

 #bootstrap.form-control{
    margin-bottom: 0.5%;
}

body{
    b!ackground-color: honeydew;
    background-image: url(https://www.tacobell.com/images/DeliciousDoodles-full.jpg);
}

#bootstrap-overide .list-group-item{
    background-color: unset;
}

.mb-1{
    font-family: 'Abril Fatface', cursive;
}
 .header{
     font-family: 'Abril Fatface', cursive;
 }

 #bootstrap-overide .comments{
    background-color:lavenderblush;
    font-family: 'Lato', sans-serif;
}

h3, h4 {
    color:rgb(255, 230, 4);
}

